.todo-list {
  width: 400px;
  height: 300px;
  background-color: white;

  .top-bar {
    height: 50px;
    display: flex;

    input {
      height: 100%;
      padding: 0 20px;
      flex: 0.85;
      box-sizing: border-box;
      font-size: 20px;
      color: white;
      background-color: #3F3F3F;
      outline: none;
      border: 0;
    }
    button {
      height: 100%;
      flex: 0.15;
      font-size: 18px;
      font-weight: bolder;
      color: white;
      background-color: #414dec;
      border: 0;
    }
  }
  .todos {
    width: 100%;
    padding: 5px;

    li + li {
      margin-top: 5px;
    }
  }
}