@mixin template {
    width: 100%;
    height: 640px;
    position: relative;
}

@mixin template-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    * {
        display: inline-block;
    }

}


.home {
    width: 100%;
    height: auto;

    .hearder-cover {
        @include template;
        background-color: #f1f1f1;
        
        .header-wrapper {
            @include template-wrapper;

            img[alt='nawa-logo'] {
                width: 48px;
                height: 24px;
                position: absolute;
                top: 45px;
                left: 16px;
            }
            .header-title {
                text-align: center;
                font-size: 24px;
                width: 240px;
                height: 80px;
                padding: 0 40px;
                margin: 128px 60px 0 60px;
            }
            img[alt='img-main'] {
                width: 344px;
                height: 256px;
                margin: 51px 0 0 16px;
                align-self: flex-end;
            }
            .app-download-button {
                width: 256px;
                height: 48px;
                margin: 30px 52px 0 52px;
                background-color: #60d170;
                border-radius: 10px;
                border: 1px solid #60d170;
                padding: 8px 68px;
                font-size: 18px;
                font-weight: bolder;
            }
        }

    }

    section {
        width: 100%;
        height: auto;

        .article-intro {
            @include template;

            .article-wrapper {
                @include template-wrapper;

                p {
                    width: 320px;
                    height: 64px;
                    font-size: 20px;
                    text-align: center;
                    line-height: 35px;
                }

                .article-title-up {
                    margin: 145px 20px 0 20px;
                    padding: 0 80px;
                    color: #777777;
                }

                img[alt='img-line'] {
                    width: 8px;
                    height: 120px;
                    margin: 52px 176px 0 176px;
                }

                .article-title-down {
                    margin: 50px 20px 0 20px;
                    padding: 0 100px;
                }

            }
        }

        .article-invite, .article-character-choice, .article-make-invite, .article-online-invite, .article-chat, .article-reminder {
            @include template;
        
            .article-wrapper {
                @include template-wrapper;

                p {
                    width: 240px;
                    text-align: center;
                }

                .article-title-up {
                    font-size: 24px;
                    line-height: 40px;
                    margin: 107px 60px 0 60px;
                    color: #353535;
                }

                .article-title-down {
                    font-size: 24px;
                    line-height: 40px;
                    margin: 0 60px 0 60px;
                    color: #353535;
                }

                .article-description {
                    font-size: 14px;
                    line-height: 20px;
                    margin: 30px 60px 0 60px;
                    padding: 0 35px;
                    word-break: keep-all;

                }

                img[alt='img-invite-icon'] {
                    width: 200px;
                    height: 197px;
                    margin: 165px 80px 0 80px;
                }
        
                img[alt='img-charactor-choice'] {
                    width: 360px;
                    height: 280px;
                    margin: 80px 0 0 0;
                }
        
                img[alt='img-make-invite'] {
                    width: 280px;
                    height: 320px;
                    margin: 41px 40px 0 40px;
                }

                img[alt='img-online-invite'] {
                    width: 208px;
                    height: 320px;
                    margin: 43px 76px 0 76px;
                }

                img[alt='img-chat'] {
                    width: 176px;
                    height: 320px;
                    margin: 42px 92px 0 92px;
                }

                img[alt='img-reminder'] {
                    width: 320px;
                    height: 264px;
                    margin: 98px 20px 0 20px;
                }
            }
        }

        .article-invite, .article-reminder {
            background-color: #60d170;
        }

        .article-make-invite {
            background-color: #f1f1f1;
        }
    }

    .footer-tech {
        @include template;
        background-color: #1b1b1b;
        height: auto;
        padding: 50px 30px 80px;;

        .footer-title {
            margin-bottom: 60px;
            font-size: 22px;
            color: #ffffff;
        }

        .footer-container-wrapper {
            display: flex;
            flex-direction: column;

            .footer-container {
                height: auto;

                .footer-container-title, .footer-container-member {
                    width: 100%;
                    font-size: 16px;
                    line-height: 30px;
                    color: #ffffff;
                }
                
                .footer-container-member {
                    width: fit-content;
                }

                .footer-container-title {
                    margin-bottom: 24px;
                }

                .footer-member-wrapper {
                    display: flex;
                    align-items: center;

                    .member-link-icon {
                        margin-left: 8px;
                    }
                }

                .footer-container-member + .footer-container-member {
                    margin-top: 12px;
                }
            }

            .footer-container + .footer-container {
                margin-top: 80px;
            }
        }
    }
}

