.template-wrapper {
  min-height: 100vh;
  background-color: #F1F0EC;

  header {
    width: 100%;
    background-color: white;

    .character-wrapper {
      width: 100%;
      height: 128px;
      padding-top: 30px;
      display: flex;
      justify-content: center;

      img {
        height: 100%;
      }
    }
  }
  section {
    width: 100%;
    padding: 9px 16px;
    
    article {
      width: 100%;
      background-color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;

      &.template-description {
        padding: 11px 24px 13px;
        text-align: center;

        .title {
          font-size: 24px;
          font-weight: bold;
        }
        .description {
          margin-top: 16px;
          font-size: 16px;
        }
      }
      &.template-content {
        width: 100%;

        .content-section {
          padding: 16px;

          .info-top-bar {
            margin-bottom: 12px;
            display: flex;
            align-items: center;

            p {
              margin-left: 8px;
              font-size: 12px;
              color: #767676;
            }
          }
          .infos {
            padding: 0 16px;
            display: flex;
            justify-content: space-between;

            .info {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }
          .info-title {
            display: flex;
            align-items: center;

            p {
              margin-left: 4px;
              color: #234eb6;
            }
          }
          .info-content {
            margin-top: 4px;
          }
        }

        .content-section + .content-section {
          border-top: 1px solid #dfdfdf;
        }
      }
    }

    article + article {
      margin-top: 8px;
    }
  }
}