.template-wrapper {
  min-height: 100vh;
  background-color: #F1F0EC;
  animation: fadein 2.5s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  header {
    width: 100%;
    background-color: white;

    .character-wrapper {
      width: 100%;
      height: 128px;
      padding-top: 30px;
      display: flex;
      justify-content: center;
      box-sizing: border-box;

      img {
        height: 100%;
      }
    }
  }
  section {
    width: 100%;
    padding: 9px 16px;
    box-sizing: border-box;
    
    article {
      width: 100%;
      background-color: white;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
      border-radius: 10px;

      &.template-description {
        padding: 11px 24px 13px;
        text-align: center;
        box-sizing: border-box;

        .title {
          font-size: 20px;
          font-weight: bold;
        }
        .description {
          margin-top: 8px;
          font-size: 14px;
          word-break: keep-all;
        }
      }
      &.template-content {
        width: 100%;

        .content-section {
          padding: 12px 16px;

          .info-top-bar {
            margin-bottom: 12px;
            text-align: center;

            .info-top-title {
              font-size: 20px;
              font-weight: bold;
            }

            p {
              margin-top: 8px;
              font-size: 14px;
            }
          }
          .infos {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .info {
              width: 33.33%;
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }
          .info-title {
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon-wrapper {
              width: 48px;
              height: 48px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #dfdfdf;
              border-radius: 50%;
            }
            p {
              margin-top: 4px;
              font-size: 12px;
              font-weight: bold;
              color: #00c853;
            }
          }
          .info-content {
            margin-top: 4px;
            font-size: 14px;
          }
          .content-info-title {
            display: flex;
            align-items: center;

            p {
              margin-left: 4px;
              font-size: 14px;
              font-weight: bold;
              color: #00c853;
            }
          }
        }

        .content-section + .content-section {
          border-top: 1px solid #dfdfdf;
        }
      }
    }

    article + article {
      margin-top: 8px;
    }
  }
  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 28px 40px;
    
    .footer-title {
      margin-bottom: 24px;
      text-align: center;
      line-height: 20px;
      font-size: 14px;
      color: #7e7e7e;
    }
    .footer-buttons {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 40px;

      .footer-button {
        width: 144px;
        height: 56px;

        .footer-icon {
          width: 100%;
          height: 100%;
        }
      }

      .footer-button + .footer-button {
        margin-left: 14px;
      }
    }
    .introduction-member {
      text-align: center;
      color: #7e7e7e;

      .introduction-main-title {
        margin-bottom: 16px;
        line-height: 20px;
        font-size: 14px;
        font-weight: bold;
      }
      .introduction-section {
        font-size: 12px;

        .introduction-sub-title {
          font-weight: bold;
        }
      }

      .introduction-section + .introduction-section {
        margin-top: 16px;
      }
    }
  }
}